.skills-container {
  display: flex;
  justify-content: center;

  .skills-section {
    padding: 15px;

    .skills-list {
      display: flex;
      flex-flow: row wrap;
    }
  } // .skills-section
} // .skills-container