.work-item {
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 0;

  .logo {
    flex: .5;
    background: white;
    border-radius: 100%;
    border: 3px solid #e44c65;
    padding: 3px;
    min-width: 100px;
    height: 100px;
  } // .logo

  .work-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .detail-item {
      display: flex;
      align-items: center;
      margin: 4px 0;

      .fa {
        display: flex;
        justify-content: center;
        margin-right: 8px;
        margin-top: -3px;
        width: 16px;
      } // .fa

      &:hover {
        color: #e44c65;
      }

      &:first-child {
        font-size: 18px;
        font-style: italic;
      }
    } // .detail-item
  } // .work-details

  .key-points {
    flex: 4;
    list-style-type: disc;
    padding-inline-start: 25px;

    li {
      padding: 4px 0;

      &:hover {
        color: #e44c65;
      }
    }
  } // .key-points

  &:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
  }

  @include for-md {
    flex-flow: row wrap;

    .key-points {
      flex: unset;
      width: 100%;
      margin-top: 12px;
    }
  }
} // .work-item