@import "./styles/breakpoints.scss";
@import "./styles/Header.scss";
@import "./styles/SkillsSection.scss";
@import "./styles/SkillIcon.scss";
@import "./styles/WorkItem.scss";
@import "./styles/School.scss";
@import "./styles/IconLabel.scss";
@import "./styles/Logo.scss";
@import "./styles/Item.scss";

.App {
  background: #304352;
  opacity: 0.9;

  h1 {
    color: #e44c65;

    @include for-sm {
      text-align: center;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
  }
} // .App